<ion-view view-title="Dashboard">
  <ion-content class="padding">
    
    <div class="list list-inset">

    <label class="item item-input">
      <input type="text" placeholder="Calories">
    </label>

    </div>

    <ul class="list">

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Low Fat
      </li>

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        High Protein
      </li>

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Low Carbs.
      </li>

     <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Low Sodium
      </li>

      </ul>

    <button class="button button-block button-outline button-positive" ng-click="findMeals()">
      Find Meals
    </button>

  </ion-content>

</ion-view>